<h1>New Loan Application</h1>

<%= form_for @loanapp do |f| %>

<%= render "#{@loanapp.current_step}_step", :f => f %>
 
  <p>
    <%= f.submit "Odeslat žádost" %>
  </p>
<% end %>

<p><%= link_to "Back to List", loanapps_path %></p>
